name: Build wrapper from Source

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Build Tools
      run: |
        sudo apt update
        sudo apt install build-essential cmake wget unzip git -y
    - name: Install LLVM
      run: sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
    - name: Download Android NDK r23b
      run: |
        aria2c -o android-ndk-r23b-linux.zip https://dl.google.com/android/repository/android-ndk-r23b-linux.zip
        unzip -q -d ~ android-ndk-r23b-linux.zip
    - name: Clone Project
      run: |
        mkdir wrapper
        cd wrapper
        mkdir build
        cd build
        cmake..
        make -j$(nproc)
